@import './scss/photoCard.scss';
@import './scss/form.scss';
@import './scss/lightbox.scss';
@import "./scss/icons.scss";

html { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#1cda0bb7, #2660acd0, #09ddafbe) fixed;
}