.search-form {
    display: flex;
    justify-content: center;
}
.search-form__input {
    margin: 30px 0 30px 0;
    min-height: 25px;
    width: 250px;
    text-align: center;
    background-color: rgba(173, 255, 177, 0.664);
    border: 2px solid rgba(58, 122, 61, 0.733);

    &:focus {
        border-radius: 30px;
        color: rgb(95, 53, 5);
        border: 2px solid rgba(122, 224, 91, 0.733);
        box-shadow: 0 0 50px rgba(3, 103, 252, 0.973);
        background-color:  rgba(186, 233, 211, 0.973);
        outline: none;
    }
}